@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
/* Header section css */

header {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.07);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
header .container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo img {
  width: 90px;
}
header .container ul {
  display: none;
}
header .container .location {
  display: none;
}
header .container .toggle-menu img {
  width: 25px;
}

/* Toggle bar section */
.toggle-bar {
  position: relative;
  top: 12rem;
  right: 2rem;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffffe1;
  border: 1px solid #353535;
  border-radius: 10px;
  transform: translateY(-110%);
  opacity:0;
  transition: 0.3s;
}
.toggle-bar.active{
  transform: translateY(0);
  opacity:1;

}


.toggle-bar ol {
  margin-bottom: 20px;
}
.toggle-bar ol li {
  padding: 15px 30px;
  text-align: center;
}
.toggle-bar ol li a {
  color: #353535;
  font-weight: bold;
}
.toggle-bar ol li a img {
  margin-right: 15px;
  width: 18px;
}
.toggle-bar span img {
  margin-right: 15px;
  width: 18px;
}



/* Responsiveness */
@media only screen and (min-width: 745px) {
  /* Header section */
  header .container .logo img {
    width: 100px;
  }
  header .container ul {
    display: flex;
  }
  header .container ul li {
    margin-right: 25px;
  }
  header .container ul li a {
    color: #444444;
  }
  header .container ul li a img {
    margin-right: 5px;
    width: 17px;
  }
  header .container .location {
    display: flex;
  }
  header .container .location span {
    font-size: 14px;
  }
  header .container .location span img {
    width: 17px;
  }
  header .toggle-menu {
    display: none;
  }
  header .toggle-bar {
    display: none;
  }
}